<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bank.name %>
</p>

<p>
  <strong>Username:</strong>
  <%= @bank.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @bank.password %>
</p>

<p>
  <strong>Account:</strong>
  <%= @bank.account_id %>
</p>

<p>
  <strong>Company:</strong>
  <%= @bank.company_id %>
</p>

<p>
  <strong>Bank type:</strong>
  <%= @bank.bank_type %>
</p>

<p>
  <strong>Status:</strong>
  <%= @bank.status %>
</p>

<%= link_to 'Edit', edit_bank_path(@bank) %> |
<%= link_to 'Back', banks_path %>
