// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
$skinActiveColor: #05B6C7;

//Applied to the main header of Active Admin
$skinHeaderBck: #000000;

//Applied to the header of AA filters.
$panelHeaderBck: #000000;
$skinTextTable: #000000;
@import "active_admin/mixins";
@import "active_admin/base";
@import "active_skin";
@import "pace/pace-theme-flash";
@import "fancybox";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }
